"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    showInvisibles: true
  "exception-reporting":
    userId: "ad0f22f3-94d5-4b08-b038-459a81c79c18"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
